<!DOCTYPE html>
<html>
<html lang="en">
<head>
</head>
<body>

<form action="/main" method="get">
    <input name="nickname">
    <button type="submit">제출</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript"></script>
<script>

    async function getUser() {
        let response = await axios.get("/getUser");
        console.log(response);
        document.querySelector("#list").innerHTML += response.data + '<br>';
    }
</script>
</body>
</html>