<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<input type="hidden" id="nickName" value="">
<input type="hidden" id="userNum" value="">

<div id="allGameInfo">

</div>

<button id="update" onclick="update()">전적갱신</button>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript"></script>
<script>

    let query = window.location.search;
    let param = new URLSearchParams(query);
    let nickname1 = param.get('nickname');

    window.onload = async function getUser() {

        let userResponse = await axios.get("/getUser?nickname=" + nickname1);
        console.log(userResponse);
        let nickName = userResponse.data.nickName;
        let userNum = userResponse.data.userNum;

        document.querySelector("#nickName").value = nickName;
        document.querySelector("#userNum").value = userNum;

        let gameInfoResponse = await axios.get("/getGames?nickName=" + nickName + "&userNum=" + userNum);
        console.log(gameInfoResponse);

        let gameList = gameInfoResponse.data;
        gameList.forEach(function (element){

            let newDiv1 = document.createElement('div');
            newDiv1.className = 'gameInfoClass';
            newDiv1.id = 'gameInfoId' + element.gameId;
            document.querySelector("#allGameInfo").appendChild(newDiv1);

            let playerInfos = element.playerInfos;
            playerInfos.forEach(function (player){

                let newDiv2 = document.createElement('div');

                newDiv2.className = 'playerClass';
                newDiv2.id = 'player' + player.userNum + element.gameId;
                document.querySelector("#gameInfoId" + element.gameId).appendChild(newDiv2);

                let newDiv3 = document.createElement('div');
                newDiv3.className = 'playerNickNameClass';
                newDiv3.id = 'nickName' + player.userNum + element.gameId;
                document.querySelector("#player" + player.userNum + element.gameId).appendChild(newDiv3);

                let newDiv4 = document.createElement('div');
                newDiv4.className = 'playerCharacterNumClass';
                newDiv4.id = 'characterNum' + player.userNum + element.gameId;
                document.querySelector("#player" + player.userNum + element.gameId).appendChild(newDiv4);

                document.querySelector("#nickName" + player.userNum + element.gameId).innerHTML = player.nickName;  //id지정자를 생각좀 해봐야 할듯. ) player0,player1...이게 계속 겹침
                document.querySelector("#characterNum" + player.userNum + element.gameId).innerHTML = player.characterNum;
            });

        });

    }

    async function update() {
        let nickname = document.querySelector("#nickName").value;
        let userNum = document.querySelector("#userNum").value;
        let userResponse = await axios.post("/updateGames?nickname=" + nickname + "&userNum=" + userNum);
    }

</script>
</body>
</html>