<!DOCTYPE html>
<html>
<html lang="en">
<head>
</head>
<body>

<input type="hidden" id="nickName">
<input type="hidden" id="userNum">

<button id="update" onclick="update()">전적갱신</button>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript"></script>
<script>

    let query = window.location.search;
    let param = new URLSearchParams(query);
    let nickname1 = param.get('nickname');

    window.onload = async function getUser() {
        let userResponse = await axios.get("/getUser?nickname=" + nickname1);
        console.log(userResponse);
        let nickName = userResponse.data.nickName;
        let userNum = userResponse.data.userNum;

        document.querySelector("#nickName").value = nickName;
        document.querySelector("#userNum").value = userNum;

        let gameIngoResponse = await axios.get("/getGames?nickName=" + nickName + "&userNum=" + userNum);

    }

    async function update() {
        let nickname = document.querySelector("#nickName").value;
        let userNum = document.querySelector("#userNum").value;
        let userResponse = await axios.get("/updateGames?nickname=" + nickname + "&userNum=" + userNum);
    }

</script>
</body>
</html>