<!DOCTYPE html>
<html>
<html lang="en">
<head>
</head>
<body>

<input type="hidden" id="nickName" value="">
<input type="hidden" id="userNum" value="">

<div id="allGameInfo">

</div>

<button id="update" onclick="update()">전적갱신</button>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript"></script>
<script>

    let query = window.location.search;
    let param = new URLSearchParams(query);
    let nickname1 = param.get('nickname');

    window.onload = async function getUser() {

        let userResponse = await axios.get("/getUser?nickname=" + nickname1);
        console.log(userResponse);
        let nickName = userResponse.data.nickName;
        let userNum = userResponse.data.userNum;

        document.querySelector("#nickName").value = nickName;
        document.querySelector("#userNum").value = userNum;

        let gameInfoResponse = await axios.get("/getGames?nickName=" + nickName + "&userNum=" + userNum);
        console.log(gameInfoResponse);

        let gameList = gameInfoResponse.data;
        gameList.forEach(function (element, gameNum){

            let newDiv = document.createElement('div');
            newDiv.className = 'gameInfoClass';
            newDiv.id = 'gameInfoId' + gameNum;
            document.querySelector("#allGameInfo").appendChild(newDiv);
            document.querySelector(".gameInfoClass").style.borderWidth = "1px";

            let playerInfos = element.playerInfos;
            playerInfos.forEach(function (player,playerNum){

                let newDiv = document.createElement('div');
                newDiv.className = 'playerInfoClass';
                newDiv.id = 'player' + playerNum;
                document.querySelector("#gameInfoId" + gameNum).appendChild(newDiv);

                document.querySelector("#player" + playerNum).innerHTML = player.nickname;  //id지정자를 생각좀 해봐야 할듯. ) player0,player1...이게 계속 겹침
                document.querySelector("#player" + playerNum).innerHTML = player.characterNum;
            });

        });

    }

    async function update() {
        let nickname = document.querySelector("#nickName").value;
        let userNum = document.querySelector("#userNum").value;
        let userResponse = await axios.post("/updateGames?nickname=" + nickname + "&userNum=" + userNum);
    }

</script>
</body>
</html>